[Unit]
Description=Privacy Labs Filesystem Upgrade
After=var-log.mount

[Service]
Type=oneshot
User=pi
Group=pi
WorkingDirectory=/home/pi
ExecStart=/usr/local/sbin/upgradefs
Environment=USER=pi HOME=/home/pi

[Install]
WantedBy=postgresql.service postgresql@9.4-main.service redis-server.service
